<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/img/css/js/homepage.css" />
    <title>Document</title>
  </head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
    input,
    label {
      margin-bottom: 10px;
    }
  </style>
  <body>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/create">Create</a></li>

      <li style="float: right"><a class="active" href="#about">About</a></li>
    </ul>
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
        <th>Action</th>
      </tr>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td>
          <button><a href="/update/<%= user.id %>">edit</a></button>

          <form action="/comfirm_delete/<%= user.id %>" method="post">
            <button>Xoa</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
